@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient( black 55%, black);
  color: #DFF5FF;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  overflow-x: hidden;
}

.first-color {
  background-color: transparent;
  z-index: -100;
  position: relative;
}

.second-color {
  background: linear-gradient( black, black 45%);
  height: 100vh;
  animation: background-animation 25s ease-in-out infinite;
  z-index: -100;
  position: relative;
}

@keyframes background-animation {
  0%, 100%{
    clip-path: polygon(0 46%, 11% 40%, 21% 36%, 30% 33%, 39% 32%, 50% 32%, 61% 35%, 74% 40%, 86% 46%, 100% 52%, 100% 100%, 0% 100%); /*clip-path: polygon(0 46%, 11% 40%, 21% 36%, 30% 33%, 39% 32%, 50% 32%, 61% 35%, 74% 40%, 86% 46%, 100% 52%, 100% 100%, 0% 100%);*/
  }
  50% {
    clip-path: polygon(0 33%, 12% 44%, 21% 50%, 31% 54%, 40% 56%, 56% 56%, 69% 54%, 79% 50%, 88% 44%, 100% 32%, 100% 100%, 0% 100%);
  }
}

/*Scrollbar*/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track  {
  background: black;
}

::-webkit-scrollbar-thumb {
  background-color: #DFF5FF70;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #DFF5FF;
}